@model Piranha.Manager.Models.UserEditModel
@section Toolbar {
@Html.Partial("Partial/Tabs")
<div class="toolbar">
    <div class="inner">
        <ul>
            <li><a class="save submit">@Piranha.Resources.Global.ToolbarSave</a></li>
            <li><a href="@Url.Action("deleteuser", new { id = Model.Id })" class="delete">@Piranha.Resources.Global.ToolbarDelete</a></li>
            <li><a href="@Url.Action("userlist")" class="back">@Piranha.Resources.Global.ToolbarBack</a></li>
            <li><a href="@Url.Action("user", new { id = Model.Id })" class="refresh">@Piranha.Resources.Global.ToolbarReload</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
}
@section Head {
    <script type="text/javascript" src="~/res.ashx/areas/manager/content/js/ext/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript">
        function disableLockedUntil() {
            $('#User_LockedUntil').val('').attr('disabled', true);
        }
        function enableLockedUntil() {
            $('#User_LockedUntil').val('').removeAttr('disabled');
        }

        $(document).ready(function () {
            $('#User_Login').focus();

            if (!$('#User_IsLocked').is(':checked')) {
                disableLockedUntil();
            }
            $('#User_IsLocked').click(function () {
                if (!$(this).is(':checked'))
                    disableLockedUntil();
                else enableLockedUntil();
            });
            $('.datepicker input').datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
}
@{ Html.BeginForm() ; }
@Html.HiddenFor(m => m.Id)
<div class="grid_9">
    <div class="box">
        <div class="title"><h2>@Piranha.Resources.Settings.UserInfo</h2></div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Html.LabelFor(m => m.Login, Piranha.Resources.Settings.Login)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Login)</div>
                    @Html.ValidationMessageFor(m => m.Login)
                </li>
                <li>
                    @Html.LabelFor(m => m.Firstname, Piranha.Resources.Settings.Firstname)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Firstname)</div>
                    @Html.ValidationMessageFor(m => m.Firstname)
                </li>
                <li>
                    @Html.LabelFor(m => m.Surname, Piranha.Resources.Settings.Surname)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Surname)</div>
                    @Html.ValidationMessageFor(m => m.Surname)
                </li>
                <li>
                    @Html.LabelFor(m => m.Email, Piranha.Resources.Settings.Email)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Email)</div>
                    @Html.ValidationMessageFor(m => m.Email)
                </li>
                <li>
                    @Html.LabelFor(m => m.GroupId, Piranha.Resources.Global.Group)
                    <div class="input">
                        @Html.DropDownListFor(m => m.GroupId, new SelectList(Model.UserGroups, "Id", "Name", Model.GroupId))
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <div class="title"><h2>@Piranha.Resources.Settings.Account</h2></div>
        <div class="inner">
            <ul class="form">
                <li>@Html.LabelFor(m => m.IsLocked, Piranha.Resources.Settings.Locked)
                    <p>@Html.CheckBoxFor(m => m.IsLocked) (@Piranha.Resources.Settings.LockedInfo)</p>
                </li>
                <li>@Html.LabelFor(m => m.LockedUntil, Piranha.Resources.Settings.LockedUntil)
                    <div class="input datepicker">
                        @Html.EditorFor(m => m.LockedUntil)</div>
                </li>
            </ul>
        </div>
    </div>
    @if (Model.Extensions.Count > 0) {
        @Html.EditorFor(m => m.Extensions)
    }
</div>
<div class="grid_3">
    <div class="box">
        <div class="title"><h2>@Piranha.Resources.Settings.ChangePassword</h2></div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Html.LabelFor(m => m.Password, Piranha.Resources.Global.Password)
                    <div class="input">
                        @Html.PasswordFor(m => m.Password)</div>
                </li>
                <li>
                    @Html.LabelFor(m => m.PasswordConfirm, Piranha.Resources.Global.Confirm)
                    <div class="input">
                        @Html.PasswordFor(m => m.PasswordConfirm)</div>
                    @Html.ValidationMessageFor(m => m.PasswordConfirm)
                </li>
            </ul>
        </div>
    </div>
</div>
@{ Html.EndForm() ; }